<main class="d-flex flex-column align-items-center justify-content-center">
  <div class="row p-0 m-0 w-100 py-4">
    <div class="col-md-10 mx-auto">
      <div class="card border-secondary">
        <h5 class="card-header bg-dark text-white">Cadastro de ONG'S</h5>
        <div class="card-body">
          <form [formGroup] = "formulario">
            <div class="form-row">
              <div class="form-group col-md-6 row mx-0">
                <label for="user" class="col-sm-4 col-form-label">Usuário</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control mb-2" id="user"
                  autocomplete="off" formControlName="user">

                  <app-error-msg label="Nome da ONG" [control]="formulario.get('user')"></app-error-msg>
                </div>

              </div>

              <div class="form-group col-md-6 row mx-0">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control mb-2" id="email"
                  autocomplete="off" formControlName="email">

                  <app-error-msg label="Email" [control]="formulario.get('email')"></app-error-msg>
                </div>

              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 row mx-0">
                <label for="cnpj" class="col-sm-4 col-form-label">Cnpj</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control mb-2" id="cnpj" cnpjMask [control]="formulario.get('cnpj')"
                  autocomplete="off" formControlName="cnpj">

                  <app-error-msg label="Cnpj" [control]="formulario.get('cnpj')"></app-error-msg>
                </div>

              </div>

              <div class="form-group col-md-6 row mx-0">
                <label for="phone" class="col-sm-4 col-form-label">Telefone</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control mb-2" id="phone" phoneMask
                  [control]="formulario.get('phone')" autocomplete="off" formControlName="phone">

                  <app-error-msg label="Telefone" [control]="formulario.get('phone')"></app-error-msg>
                </div>

              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 row mx-0">
                <label for="imageLink" class="col-md-2 col-sm-4 col-form-label">Link da Imagem</label>
                <div class="col-md-10 col-sm-8">
                  <input type="text" class="form-control mb-2" id="imageLink"
                  autocomplete="off" formControlName="imageLink">

                  <app-error-msg label="Link da Imagem"
                  [control]="formulario.get('imageLink')"></app-error-msg>
                </div>

              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 row mx-0">
                <label for="description" class="col-md-2 col-sm-4 col-form-label">Descrição</label>
                <div class="col-md-10 col-sm-8">
                  <textarea name="description" class="form-control mb-2" id="description"
                  autocomplete="off" formControlName="description"></textarea>

                  <app-error-msg label="Descrição"
                  [control]="formulario.get('description')"></app-error-msg>
                </div>

              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 row mx-0">
                <label for="passwordSign" class="col-sm-4 col-form-label">Senha</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control mb-2" id="passwordSign"
                  autocomplete="off" formControlName="password">

                  <app-error-msg label="Senha" [control]="formulario.get('password')"></app-error-msg>
                </div>

              </div>

              <div class="form-group col-md-6 row mx-0">
                <label for="passwordConfirm" class="col-sm-4 col-form-label">Confirme a Senha</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control mb-2" id="passwordConfirm"
                  autocomplete="off" formControlName="confirmPassword">

                  <app-error-msg label="Confirmar Senha"
                  [control]="formulario.get('confirmPassword')"></app-error-msg>
                </div>

              </div>
            </div>

            <div class="w-100 d-flex justify-content-end mt-2">
              <button type="button" class="btn btn-primary mr-3" (click)="navigate()">Voltar</button>
              <button type="submit" class="btn btn-success" (click) = "onSubmit()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
