<main class="d-flex flex-column align-items-center justify-content-center">
  <div class="row p-0 m-0 w-100 py-4">
    <div class="col-md-10 mx-auto">
      <div class="card border-secondary">
        <h5 class="card-header bg-dark text-white">Cadastro de ONG'S</h5>
        <div class="card-body">
          <form [formGroup] = "formulario">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="user">Usuário</label>
                <input type="text" class="form-control" id="user" placeholder="Insira o nome da ONG..."
                autocomplete="off" formControlName="user">

                <app-error-msg label="Nome da ONG" [control]="formulario.get('user')"></app-error-msg>
              </div>

              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"
                placeholder="Email da instituição..." autocomplete="off" formControlName="email">

                <app-error-msg label="Email" [control]="formulario.get('email')"></app-error-msg>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cnpj">Cnpj</label>
                <input type="text" class="form-control" id="cnpj" cnpjMask [control]="formulario.get('cnpj')"
                placeholder="Cnpj da instituição..." autocomplete="off" formControlName="cnpj">

                <app-error-msg label="Cnpj" [control]="formulario.get('cnpj')"></app-error-msg>
              </div>

              <div class="form-group col-md-6">
                <label for="phone">Telefone</label>
                <input type="text" class="form-control" id="phone" phoneMask [control]="formulario.get('phone')"
                placeholder="Insira um telefone..." autocomplete="off" formControlName="phone">

                <app-error-msg label="Telefone" [control]="formulario.get('phone')"></app-error-msg>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="imageLink">Link da Imagem</label>
                <input type="text" class="form-control" id="imageLink"
                placeholder="Insira o link da imagem da ONG..." autocomplete="off" formControlName="imageLink">

                <app-error-msg label="Link da Imagem" [control]="formulario.get('imageLink')"></app-error-msg>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="description">Descrição</label>
                <textarea name="description" class="form-control" id="description"
                placeholder="Conte-nos um pouco sobre sua ONG..." autocomplete="off"
                formControlName="description"></textarea>

                <app-error-msg label="Descrição" [control]="formulario.get('description')"></app-error-msg>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="passwordSign">Senha</label>
                <input type="password" class="form-control" id="passwordSign"
                placeholder="Insira uma senha..." autocomplete="off" formControlName="password">

                <app-error-msg label="Senha" [control]="formulario.get('password')"></app-error-msg>
              </div>

              <div class="form-group col-md-6">
                <label for="passwordConfirm">Confirme a Senha</label>
                <input type="password" class="form-control" id="passwordConfirm"
                placeholder="Confirme sua Senha..." autocomplete="off" formControlName="confirmPassword">

                <app-error-msg label="Confirmar Senha"
                [control]="formulario.get('confirmPassword')"></app-error-msg>
              </div>
            </div>

            <div class="w-100 d-flex justify-content-end mt-2">
              <button type="button" class="btn btn-primary mr-3" (click)="navigate()">Voltar</button>
              <button type="submit" class="btn btn-success" (click) = "onSubmit()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
