section{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-box{
  width: 60%;
  min-width: 400px;
}

img{
  width: 100%;
}

.options
{
  width: 80%;
}

.btnW{
  width: 100%;
}

@media(max-width: 767px){
  section{
    height: auto;
    overflow: auto;
  }

  .img-box{
    width: 90%;
    min-width: 0;
  }

  .options{
    width: 90%;
  }

}
