<button id="openCreateBtn" type="button" class="btn btn-success btn-lg w-100" data-toggle="modal"
data-target="#createEventModal">
  Cadastar Evento
</button>

<div class="modal fade" id="createEventModal" tabindex="-1"
aria-labelledby="createEventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createEventModalLabel">Criar Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup] = "formulario" (ngSubmit) = "onSubmit()">
          <div class="form-group">
            <div class="mb-4">
              <label for="eventName">*Nome do Evento</label>
              <input type="text" class="form-control" id="eventName" placeholder="Insira o nome do evento..."
              autocomplete="off" formControlName="name">

              <app-error-msg label="Nome do evento" [control]="formulario.get('name')"></app-error-msg>
            </div>

            <div class="mb-4">
              <label for="local">*Local do evento</label>
              <input type="text" class="form-control" id="local" placeholder="Insira o endereço do evento..."
              autocomplete="off" formControlName="local">

              <app-error-msg label="Local do evento" [control]="formulario.get('local')"></app-error-msg>
            </div>

            <div class="mb-4">
              <label for="start">*Dia</label>
              <input type="date" class="form-control" id="start"
              autocomplete="off" formControlName="start">

              <app-error-msg label="Data" [control]="formulario.get('start')"></app-error-msg>
            </div>

            <div class="mb-4">
              <label for="hour">*Hora</label>
              <input type="text" class="form-control" id="hour" placeholder="Informe a hora de realização..."
              autocomplete="off" formControlName="hour">

              <app-error-msg label="Hora" [control]="formulario.get('hour')"></app-error-msg>
            </div>

            <div class="mb-4">
              <label for="donations">*Doações</label>
              <input type="text" class="form-control" id="donations"
              placeholder="Diga o que será oferecido no evento..." autocomplete="off" formControlName="donations">

              <app-error-msg label="Doações" [control]="formulario.get('donations')"></app-error-msg>
            </div>

          </div>

          <div class="w-100 d-flex justify-content-end mt-4">
            <button type="button" class="btn btn-danger mr-3" data-dismiss="modal" #closeBtn>Fechar</button>
            <button type="submit" class="btn btn-success">Entrar</button>
          </div>
        </form>

      </div>

    </div>
  </div>
