
<button id="openRequestBtn" type="button" class="btn btn-success btn-lg" data-toggle="modal"
data-target="#requestLogModal">
  Cadastar Evento
</button>

<div class="modal fade" id="requestLogModal" tabindex="-1"
aria-labelledby="signUpLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header mx-auto">
        <h4 class="modal-title" id="SignUpLabel">Erro!</h4>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Você necessita estar logado para poder criar um evento.</h4>
        <button type="button" class="btn btn-danger btn-block mt-4" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
