.modal::-webkit-scrollbar{
  width: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.modal::-webkit-scrollbar-thumb{
  background-color: #7faa63;
  border-radius: 10px;
}

textarea{
  height: 150px;
  resize: none;
}

