@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400&display=swap');

@import '~ngx-toastr/toastr';

*{
  font-family: 'Antonio', sans-serif;
}

body::-webkit-scrollbar{
  width: 10px;
  border-radius: 10px;
  background-color: #c4c4c4cc;
}

body::-webkit-scrollbar-thumb{
  background-color: #77866d;
  border-radius: 10px;
}



