<section class="container-fluid px-4 pt-3">
  <h5 class="mb-3">Agenda</h5>


  <div class="img-box mx-auto">
    <img src="../../../../../assets/images/calendario-2022.jpg" alt="Calendario"
      class="mb-3">
  </div>

  <div class="options d-flex flex-wrap mx-auto mb-4">
    <app-redirect-create-events class="btnW mb-2"></app-redirect-create-events>
    <button type="button" [routerLink]="['../sign-ongs']" routerLinkActive="router-link-active"
      class="btn btn-success btn-lg calendarBtn btnW">Ongs Cadastradas</button>
  </div>

</section>
